.DS_Store
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
*.secret.yml
*.secrets.yml
*.secret.yaml
*.secrets.yaml
