defaultNamespace: traefik

helm:
  repo: https://traefik.github.io/charts
  chart: traefik
  version: 39.0.1
  values:
    deployment:
      kind: DaemonSet
    service:
      type: NodePort
    ports:
      web:
        nodePort: 80
      websecure:
        nodePort: 443
    ingressRoute:
      dashboard:
        enabled: true
    tlsStore:
      default:
        defaultCertificate:
          secretName: wild-cert
    tracing:
      otlp:
        enabled: true
        grpc:
          enabled: true
          insecure: true
          endpoint: "dd.datadog.svc.cluster.local:4317"
    providers:
      kubernetesCRD:
        allowCrossNamespace: true

dependsOn:
  - selector:
      matchLabels:
        app: traefik-crds
  - selector:
      matchLabels:
        app: cert-manager
